
        h1 {
          color:blueviolet;
        }
        img {
            width:400px
        }
        #thirdDiv {
            width: 500px;
            height: 600px;
            background-color: brown;
            padding: 50px;
            border: 10px solid red;
    
        }
        #spanId {
            font-size: 18 px;
            margin: 50px;
        }
    